{
  "name": "Weekday Checker",
  "description": "Alerts when you type a day of the week and date, but they don't appear to match",
  "version": "__VERSION__",
  "manifest_version": 3,
  "content_scripts": [
    {
      "matches": ["<all_urls>"],
      "js": ["dist/content.js"]
    }
  ],
  "browser_specific_settings": {
    "gecko": {
      "id": "weekday-checker@lukemassa.com",
      "data_collection_permissions": {
        "required": ["none"]
      }
    }
  }
}
